.ui.definition.table tr td.definition, .ui.definition.table tr td:first-child:not(.ignored) {
    background: none;
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) td:last-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th:last-child {
    padding-right: 0.785714em;
}

.ui.segment {
    margin: 0;
}

.ui.segments.box {
    margin-bottom: 1rem;
}